@import "tailwindcss";

@theme {
  --color-black: #000000;

  --color-primary-50: color-mix(in srgb, var(--color-black) 5%, white);
  --color-primary-100: color-mix(in srgb, var(--color-black) 10%, white);
  --color-primary-200: color-mix(in srgb, var(--color-black) 20%, white);
  --color-primary-300: color-mix(in srgb, var(--color-black) 30%, white);
  --color-primary-400: color-mix(in srgb, var(--color-black) 40%, white);
  --color-primary-500: color-mix(in srgb, var(--color-black) 50%, white);
  --color-primary-600: color-mix(in srgb, var(--color-black) 90%, white);
  --color-primary-700: color-mix(in srgb, var(--color-black) 70%, white);
  --color-primary-800: color-mix(in srgb, var(--color-black) 80%, white);
  --color-primary-900: color-mix(in srgb, var(--color-black) 90%, white);
}
